body{
    color: whitesmoke;
    margin: auto;
    padding: 0 16px; 
    font-size: 35px; 
    text-align: center;

    display: flex;
    flex-direction: column;
}


.main-content{
    position: relative;
    flex-grow: 1;
    width: auto;
    height: 1000px;
    background: url(../images/sky1.jpg);

}

.text{
    position: absolute;
    left: 50%;right: 50%;
    padding-top: 40px;
}

.button{
    display: inline-block;
    color: white;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    height: 25px;
    width: 90px;
    padding: 5px;
    background: greenyellow;
    border-radius: 8px;
}

.button :hover{
    background-color: darkgreen;
    color: red;
}

footer{
    color: yellow;
    border-top: 5px solid black;
    max-width: 650px;
    margin-top: 20px;
    padding: 16px 0;
}

.me{
    margin: auto;
    width: 300px;
    height: 450px;
    padding: 20px;
}

#searchButton1{
    width: 100px;
    height: 35px;
    font-size: 18px;
    background-color: lightgoldenrodyellow;
}

#searchPlace{
    margin-top: 30px;
    height: 35px;
    width: 200px;
    font-size: 25px;
}

input{
    border: 1px solid black;
    padding: 8px;
    font-size: 15px;
}

button{
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
}

#message{
    display: none;
    color: green;
    height: 400px;
    width: 500px;
    border: 3px black solid;
    border-radius: 8px;
    position: absolute;
    left: 43%;
    margin-top: 90px;
    font-size: 25px;
    background-color:lightblue;
    vertical-align: text-bottom;
    text-align: left;
}

#sky{
    width: auto;
    height: 1000px;
}
